body {
    margin: 0;
    padding: 0;
    background-image: url('image.jpeg'); /* Replace 'background-image.jpg' with your actual background image file name */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adding some transparency to the background */
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 5px;
    margin: 5px 0;
}

button {
    margin-top: 10px;
}
